*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    display: flex;
    gap: 40px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
}

.cappa{
    display: flex;
    background-image:url("images/pozadie.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 800px;
    font-size:30px;
    align-items: center;
    justify-content: center;
}

/* Main Grid */
main{
    background: url("images/Background1.jpg");
    background-size: cover;
    border-top: 20px solid white;
}

.blog{
    text-align: center;
    font-size: 40px;
    
}
.blogM{
    font-size:30px;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
    margin-bottom: 20px;
}

.blogM h2{
    font-size: 30px;
    margin-bottom: 5%;
}

.blogM img{
    border-radius: 30px 0;
    margin: 30px;
}

.text{
    text-align: left;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
    border-left: 4px solid black;
    max-width: 1500px;
    padding-left: 30px;    
    background-color: rgba(232, 225, 225, 0.795);
}

/* Pätička */
footer{
    background: rgb(198, 186, 186);
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.info{
    background: whitesmoke;
    border-radius: 0 30px;
}
.infoF img{
    border-radius:100%;
}

.info h3{
    font-style: italic;
    font-size: 40px;
    color: rgb(64, 117, 231);
    margin: 10px;
}

.info p{
    font-style: italic;
    font-size: 20px;
    margin: 10px;
}