*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    display: flex;
    gap: 40px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
}

.cappa{
    display: flex;
    background-image:url("images/pozadie.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 800px;
    font-size:30px;
    align-items: center;
    justify-content: center;
}

/* Main Grid */

.brand{
    font-size: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin-left: 20%;
}

.blog{
    display: grid;
    grid-template-columns:repeat(2,450px);
    gap: 20px;
    margin-left: 20%;
    
}

.hero{
    margin: 0 auto;
    padding: 20px;
}

.hero img{
    border-radius: 20px;
}

.hero a{
    text-decoration: none;
}

.hero h3{
    color:black;
    font-size: 30px;
    margin: 10px;
}

.hero p{
    font-size: 20px;
    margin: 10px;
}