*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    display: flex;
    gap: 40px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
}

.cappa{
    display: flex;
    background-image:url("images/pozadie.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 800px;
    font-size:30px;
    align-items: center;
    justify-content: center;
}

/* Main Grid */
main{
    background: url("images/Background1.jpg");
    background-size: cover;
    border-top: 20px solid white;
}

.brand{
    font-size: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin-left: 10%;
    color: white;
}

.blog{
    display: grid;
    grid-template-columns:repeat(3,450px);
    gap: 20px;
    margin-left: 10%;
    margin-top: 1%;
    
}

.hero{
    margin:0 auto;
    padding: 20px;
    border:1px solid black;
    border-radius:40px;
    background-color: rgb(239, 227, 227);
}


.hero img{
    border-radius: 20px;
}

.hero a{
    text-decoration: none;
}


.hero h3{
    color:black;
    font-size: 30px;
    margin: 10px;
}
.hero h3:hover{
    color:black;
    font-size:35px;
    
}

.hero p{
    font-size: 20px;
    margin: 10px;
}

/* Pätička */
footer{
    background: rgb(198, 186, 186);
    margin-top: 1%;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.info{
    background: whitesmoke;
    border-radius: 0 30px;
}
.infoF img{
    border-radius:100%;
}

.info h3{
    font-style: italic;
    font-size: 40px;
    color: rgb(64, 117, 231);
    margin: 10px;
}

.info p{
    font-style: italic;
    font-size: 20px;
    margin: 10px;
}